@use 'sass:color';

$primary-color: #d9d900;
$secondary-color: #1d1d1d;
$text-color: #1d1d1d;
$transition-speed: 0.3s;
$border-radius: 4px;

$hover-color: color.scale($primary-color, $lightness: -5%);